---
---

.glitch#bg
  = image_tag "images/turtles.jpg"

.circle(data-anchor-target="#body" data-start="transform: rotate(-5deg) translateY(0vh); filter: hue-rotate(0deg)" data-end="transform: rotate(4deg) translateY(70vh); filter: hue-rotate(1080deg)")
.logo(data-anchor-target="#body" data-start="transform: rotate(-5deg) translateY(0vh)" data-end="transform: rotate(5deg) translateY(72h)")
  = image_tag "weirdo.svg"

%h1.title
  %span(data-anchor-target="#body" data-start="transform: translateY(0vh)" data-end="transform: translateY(-8vh)") KEEP
  %span(data-anchor-target="#body" data-start="transform: translateY(0vh)" data-end="transform: translateY(-16vh)") RUBY
  %span(data-anchor-target="#body" data-start="transform: translateY(0vh)" data-end="transform: translateY(-24vh)") WEIRD
  %span.title-state(data-anchor-target="#body" data-start="transform: translateY(0vh)" data-end="transform: translateY(-32vh)") Austin, Texas

%section.almost-full-height#hero
  %header.venue
    %address.venue-address
      %span.venue-street(data-anchor-target="#hero" data-top="transform: translateY(0vh)" data-top-bottom="transform: translateY(-10vh)") 320 E 6th St.
      %span.venue-name Alamo Drafthouse Ritz
      %span.venue-state(data-anchor-target="#hero" data-top="transform: translateY(0vh)" data-top-bottom="transform: translateY(5vh)") Austin, TX 78701
    .date(data-anchor-target="#hero" data-top="transform: translateY(0vh)" data-top-bottom="transform: translateY(50vh)")
      %span.date-day Friday, October 28, 2016
      %span.date-location Austin, Texas
    = link_to "Buy Tickets", "https://ti.to/keep-ruby-weird/est", class: "button buybuybuy"

%section.almost-full-height.prose#venue(data-bottom-top="filter: hue-rotate(0deg)" data-top-bottom="filter: hue-rotate(120deg)")

  %h2.prose-title.venue-title(data-anchor-target="#body" data-start="transform: translateY(0vh)" data-end="transform: translateY(-10vh)") Ab<span class="small-break"></span>out the Drafthouse

  .prose-venue-content(data-anchor-target="#body" data-start="transform: translateY(0vh)" data-end="transform: translateY(-20vh)")
    %p The Conference venue is the historically weird Alamo Ritz Drafthouse, located in the heart of downtown. Each theater seat has its own table. During the conference you'll enjoy some weird talks as you're served gourmet food from the comfort of your oversized seat. All in front of one of the largest screens we've ever seen.
    %p After the conference you'll have plenty to see and do as the venue is located in the middle of world famous Sixth Street. Made up of dozens of bars and venues, you're guaranteed to hear a wide variety of live music as you walk down the street which is closed for pedestrian traffic for weekends. Known as "The music capital of the world" Austin is where musicians come to be discovered and discover one another.

%section.wrapper.speakers#speakers
  %header
    %h2(data-anchor-target="#body" data-start="transform: translateY(10vh)" data-end="transform: translateY(-10vh)") Spe<span class="break">akers</span>

  %ul.speakers-list
    %li.speaker(data-anchor-target="#body" data-start="transform: translateY(5vh)" data-end="transform: translateY(-5vh)")
      = link_to  "https://twitter.com/nmeans" do
        = image_tag "https://pbs.twimg.com/profile_images/635576395565953024/5bhOBmOu.jpg", class: "speaker-image"
        .speaker-about(data-anchor-target="#body" data-start="transform: translateY(8vh)" data-end="transform: translateY(-8vh)")
          %h4 Keynote
          %h3 Nick Mea<span class="x-small-break"></span>ns
          %p Coder, truth-seeker, functional impostor. VP of Engineering at WellMatch Health.

  .speak-at-krw(data-anchor-target="#speakers" data-top="transform: translateY(-5vh)" data-top-bottom="transform: translateY(5vh)")
    %h3.more-to-come More speakers to come&hellip;
    %p We're looking for only the top Webmasters to speak at our event. Candidates that are the best fit will have had 30 years experience in Ruby, 20 years experience working with Rails, and sufficient experience building software applications for the World Wide Web. Fill out our rather lame form:
    = link_to  "https://www.papercall.io/krw-2016", class: "button speakers-call" do
      Call for Proposals

%section.wrapper.sponsors#sponsors
  %header
    %h2 Spons<span class="break"></span>ors

  %ul.logos
    %li
      = link_to "http://thoughtbot.com/austin" do
        = image_tag "thoughtbot.png"
    %li
      = link_to "https://www.heroku.com/" do
        = image_tag "heroku.png"
    %li
      = link_to "/test.html", rel: "nofollow" do
        = image_tag "picard.jpg"
  .speak-at-krw
    %p It's been scientifically proven that sponsoring KRW is like getting a hug. Who doesn't want a hug? Of course you do. Help support our weirdness.
    = link_to "mailto:organizers@keeprubyweird.com", class: "button sponsor-hugs" do
      Sponsor Keep Ruby Weird 2016

%section.prose#why-austin(data-bottom-top="filter: hue-rotate(0deg)" data-top-bottom="filter: hue-rotate(120deg)")
  .why-austin-wrapper
    %h2.prose-title Why Au<span class="x-small-break"></span>stin?
    .prose-austin-content
      %p Austin is our home and it's at the heart of how we live and write software. Known for its eclectic attitude, the city maintains the unofficial motto: "Keep Austin Weird'. The people are friendly, accepting of artistic and individual expression, lending the city a vibrant and progressive energy. We believe that as developers we grow stronger through play and exploration of our craft. In Austin, this belief is strengthened and supported as we see companies care as much about personal growth as their bottom lines. We wanted to throw a conference that feels like Austin, while taking the opportunity to show off what it is that makes our city great.

%section.wrapper.schedule#schedule
  %header
    %h2 Schedu<span class="large-break"></span>le
  = link_to "See Schedule", "https://www.youtube.com/watch?v=erh2ngRZxs0", class: "button see-schedule"

.audio-container
  .audio
    %audio(src="paragliding.mp3" preload="auto" autoplay controls)

- content_for :javascript do
  :javascript
    var imgPath = "images/turtles.jpg";
    var imgContainer = document.getElementById("bg");

    glitchIt = function() {
      var params = {
        amount:     randomInteger(1, 99),
        iterations: randomInteger(10, 30),
        quality:    randomInteger(1, 99), seed:       randomInteger(1, 99)
      };

      glitchImage(params);
    }

    // $(window).scroll($.throttle(glitchIt, 83, null, true));

    glitchIt();

    var isTouchDevice = "ontouchstart" in document.documentElement,
        s = skrollr;

    if (!isTouchDevice) {
      s.init();
    }
