---
---

.glitch#bg
  = image_tag "images/turtles.jpg"

.circle(data-anchor-target="#body" data-top="transform: translateY(0vh); filter: hue-rotate(0deg)" data-top-bottom="transform: translateY(70vh); filter: hue-rotate(1080deg)")
.logo(data-anchor-target="#body" data-top="transform: translateY(0vh)" data-top-bottom="transform: translateY(70vh)")
  = image_tag "images/pizzaordeath.gif"

%h1.title
  %span(data-anchor-target="#body" data-top="transform: translateY(0vh)" data-top-bottom="transform: translateY(-10vh)") KEEP
  %span(data-anchor-target="#body" data-top="transform: translateY(0vh)" data-top-bottom="transform: translateY(-12vh)") RUBY
  %span(data-anchor-target="#body" data-top="transform: translateY(0vh)" data-top-bottom="transform: translateY(-14vh)") WEIRD
  %span.title-state(data-anchor-target="#body" data-top="transform: translateY(0vh)" data-top-bottom="transform: translateY(-16vh)") Austin, Texas

%section#hero
  %header.venue
    %address.venue-address
      %span.venue-street 320 E 6th St.
      %span.venue-name Ala<span class="uppercase">mo</span> <span class="uppercase">Dr</span>a<span class="uppercase">f</span>t<span class="uppercase">hou</span>se <span class="lowercase">R</span><span class="uppercase">it</span>z
      %span.venue-state Austin, TX 78701
    .date
      %span.date-day Friday, October 28, 2016
      %span.date-location Austin, Texas
    = link_to "#", class: "button buybuybuy" do
      <span class="lowercase">B</span>uy T<span class="lowercase">ic</span>kets

%section.prose#venue(data-bottom-top="filter: hue-rotate(0deg)" data-top-bottom="filter: hue-rotate(120deg)")

  %h2.prose-venue-title Ab<span class="lowercase">ou</span>t the D<span class="lowercase">raf</span>tho<span class="lowercase">us</span>e

  .prose-venue-content(data-anchor-target="#body" data-top="transform: translateY(0vh)" data-top-bottom="transform: translateY(-20vh)")
    %p The Conference venue is the historically weird Alamo Ritz Drafthouse, located in the heart of downtown. Each theater seat has its own table. During the conference you'll enjoy some weird talks as you're served gourmet food from the comfort of your oversized seat. All in front of one of the largest screens we've ever seen.
    %p After the conference you'll have plenty to see and do as the venue is located in the middle of world famous Sixth Street. Made up of dozens of bars and venues, you're guaranteed to hear a wide variety of live music as you walk down the street which is closed for pedestrian traffic for weekends. Known as "The music capital of the world" Austin is where musicians come to be discovered and discover one another.

%section#speakers.speakers
  %header
    %h2 Spe<span class="break">akers</span>

  %ul
    %li
      = image_tag "https://pbs.twimg.com/profile_images/635576395565953024/5bhOBmOu.jpg"
      %h4 Keynote
      %h3
        = link_to "Nick Means", "https://twitter.com/nmeans"

  = link_to  "#", class: "button speakers-call" do
    <span class="lowercase">Ca</span>ll <span class="lowercase">for</span> P<span class="lowercase">rop</span>osal
%section#sponsors
  %header
    %h2 Sponsors
    = link_to "Sponsor KRW 2016", "#"
  %ul
    %li
      %h3 thoughtbot

%section.prose#why-austin(data-bottom-top="filter: hue-rotate(0deg)" data-top-bottom="filter: hue-rotate(120deg)")
  %h2 Why Austin?
  %p Austin is our home and it's at the heart of how we live and write software. Known for it's eclectic attitude, the city maintains the unofficial motto: "Keep Austin Weird'. The people are friendly, accepting of artistic and individual expression, lending the city a vibrant and progressive energy. We believe that as developers we grow stronger through play and exploration of our craft. In Austin, this belief is strengthened and supported as we see companies care as much about personal growth as their bottom lines. We wanted to throw a conference that feels like Austin, while taking the opportunity to show off what it is that makes our city great.

%section#schedule
  %header
    %h2 Schedule
  %ul
    %li

- content_for :javascript do
  :javascript
    var imgPath = "images/turtles.jpg";
    var imgContainer = document.getElementById("bg");

    glitchIt = function() {
      var params = {
        amount:     randomInteger(1, 99),
        iterations: randomInteger(10, 30),
        quality:    randomInteger(1, 99),
        seed:       randomInteger(1, 99)
      };

      glitchImage(params);
    }

    // $(window).scroll($.throttle(glitchIt, 83, null, true));

    glitchIt();

    var isTouchDevice = "ontouchstart" in document.documentElement,
        s = skrollr;

    if (!isTouchDevice) {
      s.init();
    }
