---
---

.glitch#bg
  = image_tag "images/turtles.jpg"

.circle(data-anchor-target="#body" data-top="transform: translateY(0vh); filter: hue-rotate(0deg)" data-top-bottom="transform: translateY(70vh); filter: hue-rotate(1080deg)")
.logo(data-anchor-target="#body" data-top="transform: translateY(0vh)" data-top-bottom="transform: translateY(70vh)")
  = image_tag "weirdo.svg"

%h1.title
  %span(data-anchor-target="#body" data-top="transform: translateY(0vh)" data-top-bottom="transform: translateY(-10vh)") KEEP
  %span(data-anchor-target="#body" data-top="transform: translateY(0vh)" data-top-bottom="transform: translateY(-12vh)") RUBY
  %span(data-anchor-target="#body" data-top="transform: translateY(0vh)" data-top-bottom="transform: translateY(-14vh)") WEIRD
  %span.title-state(data-anchor-target="#body" data-top="transform: translateY(0vh)" data-top-bottom="transform: translateY(-16vh)") Austin, Texas

%section.almost-full-height#hero
  %header.venue
    %address.venue-address
      %span.venue-street 320 E 6th St.
      %span.venue-name Ala<span class="uppercase">mo</span> <span class="uppercase">Dr</span>a<span class="uppercase">f</span>t<span class="uppercase">hou</span>se <span class="lowercase">R</span><span class="uppercase">it</span>z
      %span.venue-state Austin, TX 78701
    .date
      %span.date-day Friday, October 28, 2016
      %span.date-location Austin, Texas
    = link_to "#", class: "button buybuybuy" do
      <span class="lowercase">B</span>uy T<span class="lowercase">ic</span>kets

%section.almost-full-height.prose#venue(data-bottom-top="filter: hue-rotate(0deg)" data-top-bottom="filter: hue-rotate(120deg)")

  %h2.prose-title.venue-title(data-anchor-target="#body" data-top="transform: translateY(0vh)" data-top-bottom="transform: translateY(-10vh)") Ab<span class="lowercase">ou</span>t the D<span class="lowercase">raf</span>tho<span class="lowercase">us</span>e

  .prose-venue-content(data-anchor-target="#body" data-top="transform: translateY(0vh)" data-top-bottom="transform: translateY(-20vh)")
    %p The Conference venue is the historically weird Alamo Ritz Drafthouse, located in the heart of downtown. Each theater seat has its own table. During the conference you'll enjoy some weird talks as you're served gourmet food from the comfort of your oversized seat. All in front of one of the largest screens we've ever seen.
    %p After the conference you'll have plenty to see and do as the venue is located in the middle of world famous Sixth Street. Made up of dozens of bars and venues, you're guaranteed to hear a wide variety of live music as you walk down the street which is closed for pedestrian traffic for weekends. Known as "The music capital of the world" Austin is where musicians come to be discovered and discover one another.

%section.wrapper.speakers#speakers
  %header
    %h2 Spe<span class="break">akers</span>

  %ul.speakers-list
    %li.speaker
      = link_to  "https://twitter.com/nmeans" do
        = image_tag "https://pbs.twimg.com/profile_images/635576395565953024/5bhOBmOu.jpg", class: "speaker-image"
        .speaker-about
          %h4 Keynote
          %h3 N<span class="lowercase">i</span>ck Mea<span class="lowercase">ns</span>
          %p Coder, truth-seeker, functional impostor. VP of Engineering at WellMatch Health.

  %h3.more-to-come Mo<span class="lowercase">re</span> spe<span class="lowercase">ak</span>ers <span class="lowercase">to</span> c<span class="lowercase">o</span>me&hellip;
  .speak-at-krw
    %p We're looking for the only the top Webmasters to speak at our event. Candidates that are the best fit will have had 30 years experience in Ruby, 20 years experience working with Rails, and sufficient experience building software applications for the World Wide Web. Fill out our rather lame form:
    = link_to  "https://www.papercall.io/krw-2016", class: "button speakers-call" do
      <span class="lowercase">Ca</span>ll <span class="lowercase">for</span> P<span class="lowercase">rop</span>osals

%section.wrapper.sponsors#sponsors
  %header
    %h2 Sponsors
  %h3.more-to-come <span class="lowercase">We</span>'re wor<span class="lowercase">in</span>g on i<span class="lowercase">t</span>
  = image_tag "construction.gif"
  .speak-at-krw
    %p It's been scientifically proven that sponsoring KRW is like getting a hug. Who doesn't want a hug? Of course you do. Help support our weirdness.
    = link_to "#", class: "button sponsor-hugs" do
      Sponsor Keep Ruby Weird 2016 

%section.prose#why-austin(data-bottom-top="filter: hue-rotate(0deg)" data-top-bottom="filter: hue-rotate(120deg)")
  .why-austin-wrapper
    %h2.prose-title Why Austin?
    .prose-austin-content
      %p Austin is our home and it's at the heart of how we live and write software. Known for it's eclectic attitude, the city maintains the unofficial motto: "Keep Austin Weird'. The people are friendly, accepting of artistic and individual expression, lending the city a vibrant and progressive energy. We believe that as developers we grow stronger through play and exploration of our craft. In Austin, this belief is strengthened and supported as we see companies care as much about personal growth as their bottom lines. We wanted to throw a conference that feels like Austin, while taking the opportunity to show off what it is that makes our city great.

%section.wrapper.schedule#schedule
  %header
    %h2 Schedule
  = link_to "See Schedule", "https://www.youtube.com/watch?v=erh2ngRZxs0", class: "button see-schedule"

- content_for :javascript do
  :javascript
    var imgPath = "images/turtles.jpg";
    var imgContainer = document.getElementById("bg");

    glitchIt = function() {
      var params = {
        amount:     randomInteger(1, 99),
        iterations: randomInteger(10, 30),
        quality:    randomInteger(1, 99), seed:       randomInteger(1, 99)
      };

      glitchImage(params);
    }

    // $(window).scroll($.throttle(glitchIt, 83, null, true));

    glitchIt();

    var isTouchDevice = "ontouchstart" in document.documentElement,
        s = skrollr;

    if (!isTouchDevice) {
      s.init();
    }
